@page
@model MyEmployees.Pages.Employees.frmEditEmployeeModel
@{
}


<br>
<h2>Edit Employee</h2>

@if (Model.errorMessage.Length > 0)
{
    <Div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label="close"></button>
    </Div>
}


<form method="POST">
    <input type="hidden" name="id" value="@Model.EmployeeInfo.id"></input>
    @*  Name Field *@
    <div class="row mb-3 ">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class=" form-control" name="name" value="@Model.EmployeeInfo.name">
        </div>
    </div>
    @* Email Field *@
    <div class="row mb-3 ">
        <label class="col-sm-3 col-form-label">email</label>
        <div class="col-sm-6">
            <input type="text" class=" form-control" name="email" value="@Model.EmployeeInfo.email">
        </div>
    </div>
    @* Phone Number Field *@
    <div class="row mb-3 ">
        <label class="col-sm-3 col-form-label">phone</label>
        <div class="col-sm-6">
            <input type="text" class=" form-control" name="phone" value="@Model.EmployeeInfo.phone">
        </div>
    </div>
    @* Address Field *@
    <div class="row mb-3 ">
        <label class="col-sm-3 col-form-label">address</label>
        <div class="col-sm-6">
            <input type="text" class=" form-control" name="address" value="@Model.EmployeeInfo.address">
        </div>
    </div>
    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3 ">
            <div class="col-sm-9 ">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label="close"></button>
                </div>
            </div>
        </div>
    }


    @* Button Save and Cancel *@
    <div class="row mb-3 ">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <Button type="Submit" class=" btn btn-primary ">Save</Button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>